.container {
  display: grid;
  grid-template-areas:
    "header"
    "main main"
    "sidebar"
    "section section"
    "article article"
    "footer";
}

.item-1 {
  grid-area: header;
}
.item-2 {
  grid-area: main;
}
.item-3 {
  grid-area: sidebar;
}
.item-4 {
  grid-area: section;
}
.item-5 {
  grid-area: article;
}
.item-6 {
  grid-area: footer;
}
